<div class="sb-form"> 
    <h4>Login</h4>
    <hr/>
    <form method="POST" action="/login">
        <div class="form-group">
            <label for="inputUsername">
                Username
            </label>    
            <input type="text" class="form-control" id="inputUsername" placeholder="Username (john, jane)" name="username">
        </div>
        <div class="form-group">
            <label for="inputPassword">
                Password
            </label> 
            <input type="password" class="form-control" id="inputPassword" placeholder="Password (doe)" name="password">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">
                Login
            </button>
        </div>
    </form>
</div>